body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: Papyrus, fantasy; font-size: 24px;
  }
  hr{
  
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    border-width: 10px;
    border-color: grey;
  
    width: 5%;
  }
  
  h1 {
    font-size: 5.625rem;
    margin: 50px auto; 0 auto;
    color: #66BFBF;
   
  }
  h2{
    padding-bottom: 10px;
  }
  h3{
    color: #66BFBF;
  }
  a{
    color: #11999E;
    margin: 10px 10px;
    text-decoration: none;
  
  }
  a:hover{
    color: #EAF6F6;
  }
  h2{
    color: #66BFBF;
  }
  p{
    line-height: 2;
  }
  
  .hello-desc{
    color: #40514E;
    width: 30%;
    margin: auto;
  
  }
  .challenge-desc{
    color: #40514E;
  }
  .contact-desc{
    color: #40514E;
  }
  .challenge{
    color:#11999E;
    text-align: right;
  }
  .web{
    font-size: 2.65rem;
    color: #66BFBF;
    font-weight: normal;
  }
  .suraj{
  
    width: 100px;
    height: 130px;
      border-radius: 50%;
  }
  .skill{
    width: 100px;
    height: 100px;
  }
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }
  .contact-me{
    width: 40%;
    margin: 40px auto 60px auto;
  
    line-height: 2;
  }
  .trekking{
    width: 200px;
    height: 200px;
  }
  .contact{
    width: 200px;
    height: 200px;
  }
  
  .topcontainer{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
  }
  
  .MiddleContainer {
  margin: 100px 0;
  }
  
  .bottomContainer {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  }
  
  .bottomcloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
  
  
  }
  .topcloud{
    position: absolute;
    right: 250px;
    top: 40px;
  }
  .skill{
    
    float: left;
    margin-right: 30px;
  
  }
  .trekking{
   
    float: right;
    margin-left: 30px;
  }
  
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  